
@model LessonInfoDTO
@if (Model.PreviousVideoId > 0 || Model.NextVideoId > 0)
{
    <div class="panel coming-up">
        <div class="img-container">
            @if (Model.NextVideoId == 0)
            {
                <img src="@Model.CurrentVideoThumbnail"
                     class="img-responsive">
            }
            else
            {
                <img src="@Model.NextVideoThumbnail"
                     class="img-responsive">
            }
        </div>
        <div class="panel-body">
            @if (Model.NextVideoId == 0)
            {
                <p>COURSE COMPLETED</p>
                <h5>@Model.CurrentVideoTitle</h5>
            }
            else
            {
                <p>COMING UP</p>
                <h5>@Model.NextVideoTitle</h5>
            } 
            <div class="btn-group" role="group">
            @if (Model.PreviousVideoId == 0)
            {
                <a class="btn btn-outline-primary" disabled href="#">
                    <i class="fas fa-chevron-left"></i> Previous
                </a>
            }
            else
            {
                <a class="btn btn-outline-primary"
                   href="~/Membership/Video/@Model.PreviousVideoId">
                    <i class="fas fa-chevron-left"></i> Previous
                </a>
            } 
            @if (Model.NextVideoId == 0)
            {
            <a class="btn btn-outline-primary" disabled href="#">
                Next <i class="fas fa-chevron-right"></i>
            </a>
            }
            else
            {
            <a class="btn btn-outline-primary"
               href="~/Membership/Video/@Model.NextVideoId">
                Next <i class="fas fa-chevron-right"></i>
            </a>
            }
        </div>
    </div>
    </div>
}